$blue: #08A6E4;
$pink: #FB3B64;
$green: #55DFB4;
$font: 'Raleway', serif;
// $titles-font: Raleway;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

body {
  min-width: 320px;
}

header{
  z-index: 2;
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.logo{
  color: $blue;
  font-family: $font;
  font-weight: 300;
  line-height: 2.3125rem;
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0.5em;
}

.nav-content{
  display: none;
}



// WHY US SECTION

.why-us{
  margin-top: 100px;
  width: 100%;
}

.why-us h1{
  font-family: $font;
  text-align: center;
  text-align: center;
  line-height: 2.5625rem;
  font-size: 2.1875rem;
  font-weight: 400;
}


.why-us p{
  margin: auto;
  margin-top: 20px;
  font-family: 'Open Sans';
  text-align: center;
  width: 100%;
}

.why-us button{
  text-align: center;
  margin: auto;
  margin-top: 30px;
  background-color: $blue;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  width: 80%;
  padding: 20px;
  font-family: 'Open Sans';
  font-size: 1em;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 2.5rem;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  border: none;
}

.why-us button:hover{
  background-color: #159bd0;
  cursor: pointer;
}

.why-us-image-container{
  //display: grid;
  //height: 100%;
  margin-top: 20px;
  height: 99vh;
  background: url(/src/img/Background1-mobile.png) no-repeat;
  background-size: contain;
}

/*.why-us-image-container img{
  background-size: contain;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  margin-top: 20px;
}*/

.why-us .topics{
  margin-top: -60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 30px;
}

.why-us .topics p{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}

.topic1, .topic2, .topic3{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.topic1-img{
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
  position: relative;
  background-color: $pink;
}

.topic2-img{
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
  position: relative;
  background-color: $blue;
}

.topic3-img{
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
  position: relative;
  background-color: $green;
}

.topic1-img img{
  position: absolute;
  width: 2.75rem;
  height: 3.25rem;
  left: 2rem;
  top: 3px;
}

.topic2-img img{
  position: absolute;
  width: 4rem;
  height: 2.5rem;
  left: 1.25rem;
  top: 10px;
}

.topic3-img img{
  position: absolute;
  width: 3.5rem;
  height: 3rem;
  left: 2rem;
  top: 8px;
}

.paragraph1{
  text-align: center;
  letter-spacing: 5.96px;
  color: #000000;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 24px;
  margin-top: 20px;
}

.paragraph2{
  width: 80%;
  height: 1.25rem;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.25rem;
  text-align: center;
  color: #A5A5A5;
  font-family: 'Raleway';
  font-style: normal;
  line-height: 20px;
  margin-top: 20px;
}



// BENEFITS SECTION

.benefits{
  background: #F7F7F7;
}

.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card1, .card2, .card3{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin-top: 3rem;
  width: 314px;
}

.card3{
  margin-bottom: 3rem;
}

.card1-img, .card2-img{
  position: relative;
  width: 100%;
  align-items: center;
}

.card3-img{
  position: relative;
  width: 100%;
  align-items: center;
}

.card1-img img, .card2-img img{
  position: relative;
  margin: 1rem 0;
  z-index: 1;
  width: 70%;
  display:block;
  margin:auto;
  top: 30px;
}

.card3-img img{
  position: relative;
  margin: 1rem 0;
  z-index: 1;
  width: 100%;
  display:block;
  margin:auto;
  top: 25px;
}

.card1-circle{
  position: absolute;
  border-radius: 41px;
  transform: rotate(-50deg);
  width: 90.12px;
  height: 90.12px;
  top: 0px;
  left: 150px;
  background-color: $pink;
}

.card2-circle{
  position: absolute;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  top: 10px;
  left: 50px;
  background-color: $blue;
}

.card3-circle{
  position: absolute;
  width: 314px;
  height: 140px;
  top: 10px;
  background-color: $green;
  background: #55DFB4;
  height: 195px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin-left: -16px;
}

.card1 h2, .card2 h2{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin-top: 50px;
  margin-left: 10px;
  text-align: left;
  width: 80%;
}

.card3 h2{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
  width: 80%;
}

.cards p{
  font-family: 'Open Sans';
  margin-top: 30px;
  margin-bottom: 12px;
  margin-left: 10px;
}



// PRICING SECTION

.pricing{
  background-color: white;
  padding: 1rem 1.75rem 2rem;
  margin: 6.5rem auto 5rem;
  margin-top: 30px;
}

.pricing h1{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  
}

.prices{
  margin: 1rem auto;
  max-width: 422px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.basic{
  position: relative;
  padding: 20px 10px 50px;
  border: 1.5px solid $pink;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  margin-top: 10px;
}

.basic:hover{
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba(226, 7, 56, 0.29);
}

.professional{
  position: relative;
  padding: 20px 10px 50px;
  border: 1.5px solid $blue;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  margin-top: 20px;
}

.professional:hover{
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
}

.premium{
  position: relative;
  padding: 20px 10px 50px;
  border: 1.5px solid $green;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  margin-top: 20px;
}

.premium:hover{
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba(8, 225, 156, 0.29);
}

.price-info{
  font-family: 'Raleway';
  width: 40%;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-left: 12px;
  
}

.basic-price{
  color: $pink;
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
}

.professional-price{
  color: $blue;
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
}

.premium-price{
  color: $green;
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
}

.limited-offer{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.price-list{
  font-family: "Open Sans", sans-serif;
  //list-style-image: url(../assets/img/icons/Checkbox.svg);
  margin: 0;
  padding-left: 25px;
}

.price-list-item-checkmark{
  list-style-image: url(/src/img/icons/Checkbox.svg);
  margin-top: 0;
  margin: 20px auto;
}

.price-list-item-crossmark{
  list-style-image: url(/src/img/icons/Cross.svg);
  margin-top: 0;
  margin: 20px auto;
}

button {
  cursor: pointer;
  padding: 1rem 3rem;
  border: 1px solid transparent;
  border-radius: 2rem;
  font-weight: bold;
  color: var(--white);
}

.basic-button{
  position: absolute;
  background: $pink;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1rem;
}

.professional-button{
  position: absolute;
  background: $blue;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1rem;
}

.premium-button{
  position: absolute;
  background: $green;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1rem;
}



// CONTACT SECTION

.contact{
  width: 80%;
  margin: 3rem auto;
  margin-top: 1.325rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact h1{
  margin: 0;
  font-weight: 400;
  font-size: 40px;
}

.contact-info{
  display: grid;
  gap: 1rem;
}

.contact-info img {
  margin-right: 0.75rem;
  max-width: 22px;
}

.contact-form{
  margin: 0;
  display: grid;
  gap: 1rem;
}

.contact-form label{
  width: 100%;
  display: grid;
  margin-bottom: 12px;
  gap: 4rem;
  font-size: 11px;
  font-weight: 700;
  color: $blue;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact-form .name, .contact-form .email{
  width: 100%;
  border: 0;
  border-bottom: 1px solid $blue;
  margin-bottom: 1rem;
}

.checkbox-div{
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 10px;
}

.form-checkbox{
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid gray;
  border-radius: 4px;
}

.checkbox-info{
  width: calc(100% - 31px);
  margin: 0;
  color: #707070;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.form-button{
  cursor: pointer;
  margin-top: 1rem;
  background-color: $blue;
  color: white;
  position: relative;
  margin-left: auto;
  margin-right: 0;
  width: 60%;
  max-width: 225px;
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
  transition: 0.5s;
}



// FOOTER

footer{
  margin-top: 40px;
  background: #F7F7F7;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  //padding: 21px 0;
}

.footer-content{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-info{
  display: flex;
  flex-direction: column;
  font-size: 11px;
  color: #A5A5A5;
}

.copyright{
  margin-left: 0.5rem;
  margin-top: -1rem;
}

.social-media{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}