$blue: #08A6E4;
$pink: #FB3B64;
$green: #55DFB4;
$font: 'Raleway', serif;

// $titles-font: Raleway;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //border: solid 1px red;
}

body {
  min-width: 320px;
}

header{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.logo{
  color: $blue;
  font-family: $font;
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 1em;
}

.nav-content{
  display: none;
}

h1{
  font-family: $font;
  font-size: 35px;
  text-align: center;
}

.why-us{
  margin-top: 100px;
  width: 100%;
}

.why-us p{
  margin: auto;
  margin-top: 20px;
  font-family: 'Open Sans';
  text-align: center;
  width: 75%;
}

button{
  margin-top: 30px;
  color: white;
  background-color: $blue;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
  width: 80%;
  padding: 20px;
  font-family: 'Open Sans';
  font-size: 1em;
}

.why-us article p{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}

.laptop-image{
  background-image: url("/src/img/Background1-desktop.png");
  width: 100%;
}