* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

header {
  z-index: 2;
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.logo {
  color: #08A6E4;
  font-family: "Raleway", serif;
  font-weight: 300;
  line-height: 2.3125rem;
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 1.5rem;
  display: inline-block;
}

.nav-content {
  margin-left: 0.75rem;
  margin-top: 25px;
  padding: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  text-transform: uppercase;
  width: 100%;
}

.list li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.list li a {
  cursor: pointer;
  color: #A5A5A5;
  text-decoration: none;
}

.list li a:hover {
  color: black;
  text-decoration: none;
}

nav {
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 15px;
}

.menu {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  text-align: left;
  letter-spacing: 3.28px;
  text-transform: uppercase;
  width: 100%;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
}

label, input {
  align-items: right;
}

#toggler {
  visibility: visible;
}

#toggler:checked ~ .menu {
  visibility: visible;
  position: relative;
}

.list {
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media only screen and (min-width: 1000px) {
  .list {
    text-align: right;
    flex-direction: row;
    display: flex;
    list-style: none;
    gap: 100px;
  }
  #toggler,
  label {
    display: none;
  }
  #toggler {
    visibility: visible;
  }
  #toggler:checked ~ .menu {
    visibility: visible;
    position: relative;
  }
  .menu {
    visibility: visible;
    position: relative;
  }
  .list li {
    margin-bottom: -5px;
    border-bottom: 4px solid #08A6E4;
  }
  .logo {
    margin-left: 5rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  nav {
    display: flex;
    align-items: center;
  }
}
.why-us {
  margin-top: 200px;
}

.why-us h1 {
  font-family: "Raleway", serif;
  text-align: center;
  text-align: center;
  line-height: 2.5625rem;
  font-size: 2.1875rem;
  font-weight: 400;
}

.why-us p {
  margin: auto;
  margin-top: 20px;
  font-family: "Open Sans";
  text-align: center;
  width: 75%;
}

.button-container {
  width: 100%;
  display: block;
  text-align: center;
}

.why-us button {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  width: 80%;
  max-width: 310px;
  padding: 20px;
  font-family: "Open Sans";
  font-size: 1em;
  border-radius: 2.5rem;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
  border: none;
}

.why-us button:hover {
  background-color: #159bd0;
  cursor: pointer;
}

.why-us-image-container {
  overflow: hidden;
  height: 99vh;
  margin-top: 20px;
}

.wallpaper {
  height: 300px;
  object-fit: fill;
  margin-left: 50%;
  transform: translateX(-50%);
}

.why-us .topics {
  margin-top: -60vh;
  display: block;
  text-align: center;
  padding: 2rem;
  margin-bottom: 30px;
}

.why-us .topics p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
}

.topic1, .topic2, .topic3 {
  display: block;
  margin-top: 50px;
  text-align: center;
}

.topic1-img {
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
  position: relative;
  background-color: #FB3B64;
  margin: 0 auto;
}

.topic2-img {
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
  position: relative;
  background-color: #08A6E4;
  margin: 0 auto;
}

.topic3-img {
  width: 62.71px;
  height: 62.71px;
  border-radius: 50%;
  position: relative;
  background-color: #55DFB4;
  margin: 0 auto;
}

.topic1-img img {
  position: absolute;
  width: 2.75rem;
  height: 3.25rem;
  left: 2rem;
  top: 3px;
}

.topic2-img img {
  position: absolute;
  width: 4rem;
  height: 2.5rem;
  left: 1.25rem;
  top: 10px;
}

.topic3-img img {
  position: absolute;
  width: 3.5rem;
  height: 3rem;
  left: 2rem;
  top: 8px;
}

.paragraph1 {
  text-align: center;
  letter-spacing: 5.96px;
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 24px;
  margin-top: 20px;
  display: block;
}

.paragraph2 {
  height: 1.25rem;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.25rem;
  text-align: center;
  color: #A5A5A5;
  font-family: "Raleway";
  font-style: normal;
  margin-top: 20px;
  display: block;
}

.benefits {
  background: #F7F7F7;
}

.cards {
  display: block;
  text-align: center;
}

.card1, .card2, .card3 {
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
  background: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin-top: 3rem;
  width: 314px;
  text-align: left;
}

.card3 {
  margin-bottom: 3rem;
}

.card1-img, .card2-img {
  position: relative;
  width: 100%;
  align-items: center;
}

.card3-img {
  position: relative;
  width: 100%;
  align-items: center;
}

.card1-img img, .card2-img img {
  position: relative;
  margin: 1rem 0;
  z-index: 1;
  width: 70%;
  display: block;
  margin: auto;
  top: 30px;
}

.card3-img img {
  position: relative;
  margin: 1rem 0;
  z-index: 1;
  width: 100%;
  display: block;
  margin: auto;
  top: 25px;
}

.card1-circle {
  position: absolute;
  border-radius: 41px;
  transform: rotate(-50deg);
  width: 90.12px;
  height: 90.12px;
  top: 0px;
  left: 150px;
  background-color: #FB3B64;
}

.card2-circle {
  position: absolute;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  top: 10px;
  left: 50px;
  background-color: #08A6E4;
}

.card3-circle {
  position: absolute;
  width: 314px;
  height: 140px;
  top: 10px;
  background-color: #55DFB4;
  background: #55DFB4;
  height: 195px;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin-left: -16px;
}

.card1 h2, .card2 h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin-top: 50px;
  margin-left: 10px;
  text-align: left;
  width: 80%;
}

.card3 h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
  width: 80%;
}

.cards p {
  font-family: "Open Sans";
  margin-top: 30px;
  margin-bottom: 12px;
  margin-left: 10px;
}

.pricing {
  background-color: white;
  padding: 1rem 1.75rem 2rem;
  margin: 6.5rem auto 5rem;
  margin-top: 30px;
}

.pricing h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.prices {
  margin: 1rem auto;
  max-width: 422px;
  align-items: center;
  gap: 2.5rem;
}

.basic {
  position: relative;
  padding: 20px 10px 50px;
  border: 1.5px solid #FB3B64;
  border-radius: 18px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: 0.4s;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.basic:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba(226, 7, 56, 0.29);
}

.professional {
  position: relative;
  padding: 20px 10px 50px;
  border: 1.5px solid #08A6E4;
  border-radius: 18px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: 0.4s;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.professional:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
}

.premium {
  position: relative;
  padding: 20px 10px 50px;
  border: 1.5px solid #55DFB4;
  border-radius: 18px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: 0.4s;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.premium:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba(8, 225, 156, 0.29);
}

.basic-price {
  color: #FB3B64;
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
}

.professional-price {
  color: #08A6E4;
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
}

.premium-price {
  color: #55DFB4;
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
}

.limited-offer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.price-info {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin-top: 1rem;
  vertical-align: middle;
}

.price-list {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding-left: 2.5rem;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.price-list-item-checkmark {
  list-style-image: url(/src/img/icons/Checkbox.svg);
  margin-top: 0;
  margin: 20px auto;
}

.price-list-item-crossmark {
  list-style-image: url(/src/img/icons/Cross.svg);
  margin-top: 0;
  margin: 20px auto;
}

button {
  cursor: pointer;
  padding: 1rem 3rem;
  border: 1px solid transparent;
  border-radius: 2rem;
  font-weight: bold;
  color: var(--white);
}

.basic-button {
  position: absolute;
  background: #FB3B64;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1rem;
}

.professional-button {
  position: absolute;
  background: #08A6E4;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1rem;
}

.premium-button {
  position: absolute;
  background: #55DFB4;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1rem;
}

.contact {
  width: 80%;
  margin: 3rem auto;
  margin-top: 1.325rem;
  display: block;
  margin-bottom: 3rem;
}

.contact h1 {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
}

.contact-info {
  margin-top: 2rem;
  gap: 1rem;
}

.contact-info img {
  margin-right: 0.75rem;
  max-width: 22px;
}

.contact-info p {
  margin-top: 0.5rem;
}

.contact-form {
  margin: 0;
  margin-top: 3rem;
}

.contact-form label {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 11px;
  font-weight: 700;
  color: #08A6E4;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact-form .name, .contact-form .email {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #08A6E4;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.checkbox-div {
  display: inline-block;
  width: 100%;
}

.form-checkbox {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid gray;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
}

.checkbox-info {
  width: calc(100% - 31px);
  margin: 0;
  color: #707070;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
}

.container-button {
  text-align: right;
}

.form-button {
  cursor: pointer;
  margin-top: 1rem;
  background-color: #08A6E4;
  color: white;
  width: 60%;
  max-width: 225px;
  transform: scale(1.05);
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
  transition: 0.5s;
}

footer {
  height: 89px;
  background: #F7F7F7;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  display: block;
  text-decoration: none;
}

.footer-info {
  display: inline-block;
  width: 75%;
  font-size: 11px;
  color: #A5A5A5;
  margin-left: 0.5rem;
}

.copyright {
  margin-left: 1.5rem;
  margin-top: -1rem;
}

.social-media {
  display: inline-block;
  vertical-align: top;
  margin-top: 2rem;
}

.social-media a {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
